# Security & Secrets
.env

# Environments
venv/
env/

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Local Databases
*.db
*.sqlite3
property_manager.db

# Mac OS Files
.DS_Store

# VSCode Workspace Settings
.vscode/